/* Theme */
@define-color success #282;
@define-color warning #d80;
@define-color critical #c44;

@define-color light rgb(250, 250, 250);
@define-color dark rgb(30, 30, 30);

@define-color darkbg rgba(30, 30, 30, 0.8);
@define-color lightbg rgba(250, 250, 250, 0.7);

@define-color modbor #333;
@define-color modshad @dark;

@define-color modbg @darkbg;
@define-color modfg @light;

@define-color modbginv @light;
@define-color modfginv @dark;

@define-color modborinv @light;

/* Reset all styles */
* {
    all: unset;
}


/* The whole bar */
window#waybar {
    font-family: "JetBrainsMono Nerd Font", "HurmitNerdFont";
    font-size: 12px;
    font-weight: bold;

    background: @modbg;
    border-bottom: 1px solid #444;
}

#power-profiles-daemon.performance {
    color: orange;
}

#power-profiles-daemon.balanced {
    color: darkcyan;
}

#power-profiles-daemon.power-saver {
    color: lightgreen;
}

#tray menu {
    background: @modfginv;
    padding: 5px;
    border-radius: 5px;
}

#tray menuitem {
    margin: 1px;
    border-radius: 5px;
    padding: 2px 4px;
    background: #222222;
    border: 1px solid #444444;
}

#tray menuitem:hover {
    background: #333333;
}

.module,
#privacy {
    color: @modfg;
    margin: 1px;
    background: none;

    padding: 0 8px;
    border-radius: 5px;
}

#privacy-item {
    border-radius: 5px;
    padding: 0 7px;
    color: black;
}

#privacy-item.audio-in {
    background: #7DD3FC;
}

#privacy-item.screenshare {
    background: #86EFAC;
}

.modules-left {
    border-radius: 0 0 5px 0;
}

.modules-center {
    border-radius: 0 0 5px 5px;
}

.modules-right {
    border-radius: 0 0 0 5px;
}

tooltip {
    padding: 5px 12px;
    background-color: @modfginv;
    border-radius: 5px;
}

tooltip label {
    color: @modfg;
}

/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */


#bluetooth {
    transition: background-color 0.5s, color 0.5s, border 0.5s;
}

#bluetooth.connected {
    border-color: @modborinv;
    background-color: @modbginv;
    color: @modfginv;
}

#bluetooth.off,
#bluetooth.disabled {
    color: @modfg;
    background-color: @critical;
}

#workspaces button * {
    color: @modfg;
}

#workspaces button.active {
    background-color: @modbginv;
}

#workspaces button.active * {
    color: @modfginv;
}

#workspaces button.urgent {
    background-color: @critical;
}

#workspaces button {
    border-radius: 3px;
    padding: 0 5px;
    margin: 2 2px;
}

#workspaces {
    padding: 0 3px;
}

#battery {
    transition: background-color 0.5s, color 0.5s, border 0.5s;
}

#systemd-failed-units {
    background: @critical;
    margin: 2 2px;
    padding: 0 7px;
}

#battery.charging,
#upower.charging {
    border-color: @modborinv;
    background-color: @modbginv;
    color: @modfginv;
}

#battery.warning.discharging {
    color: @light;
    background-color: @warning;
}

#battery.critical.discharging {
    color: @light;
    background-color: @critical;
}

#custom-arch {
    padding-left: 6px;
    padding-right: 2px;
}


#custom-pomodoro.work {
    background: lightblue;
    color: black;
}

#custom-pomodoro.break {
    background: lightgreen;
    color: black;
}

#custom-pomodoro.pause {
    background: yellow;
    color: black;
}

#network {
    transition: background-color 0.5s, color 0.5s, border 0.5s;
}

#network.disconnected {
    background-color: @warning;
    color: @light;
}

#wireplumber {
    transition: background-color 0.5s, color 0.5s, border 0.5s;
}

#wireplumber.muted {
    background-color: @critical;
    color: @light;
}

#idle_inhibitor {
    transition: background-color 0.5s, color 0.5s, border 0.5s;
}

#idle_inhibitor.activated {
    color: @modfginv;
    border-color: @modborinv;
    background-color: @modbginv;
}
