/* Theme */
@define-color success #282;
@define-color warning #d90;
@define-color critical #d44;

@define-color light #eee;
@define-color dark #222;

@define-color modbg @dark;
@define-color modtxt @light;

@define-color arch #3ad;

@define-color selected rgba(255, 255, 255, 0.1);


/* Reset all styles */
* {
	all: unset;
}


/* The whole bar */
window#waybar {
    /* border-radius: 10px; */
    font-family: "Inconsolata Nerd Font";
    /*font-family: "HurmitNerdFont";*/
    font-size: 16px;
    font-weight: bold;
    background: rgba(50, 50, 50, 0.3);
    /* background-image: url("background.png"); */ 
}

/* every modules */
#battery,
#clock,
#cpu,
#memory,
#network,
#temperature,
#tray,
#idle_inhibitor,
#workspaces,
#custom-media,
#wireplumber,
#bluetooth,
#language,
#custom-arch {
    padding: 3px 8px;
    margin: 4px 10px;
    color: @modtxt;
    background: none;
    border-radius: 5px;
    background: none;
}

tooltip {
    padding: 5px 12px;
    background-color: @modbg;
    border-radius: 10px;
}

tooltip label {
	color: @modtxt;
}

/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */

#clock {
    background-color: rgba(0, 0, 0, 0.1);
}

#bluetooth {
	transition: background-color 0.5s, color 0.5s, border 0.5s;
}

#bluetooth.connected {
	background-color: @success;
	color: @light;
}

#bluetooth.off,#bluetooth.disabled {
	color: @light;
	background-color: @critical;
    border-bottom: 2px solid #922
}

#workspaces button * {
	color: @modtxt;
}

#workspaces button {
    transition: background-color 0.5s;
    padding: 3px 8px;
    border-radius: 5px;
    margin: 0 1px;
}

#workspaces button:hover {
    background-color: @selected;
}

#workspaces {
    margin: 4px 0;
    padding: 0;
}

#workspaces button.active {
    background-color: @selected;
}

#workspaces button.active:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#battery {
	transition: background-color 0.5s, color 0.5s, border 0.5s;
	margin-right: 10px;
}

#battery.charging {
	background-color: @success;
	color: @light;
    border-bottom: 2px solid #292;
}

#battery.warning.discharging {
	color: @light;
	background-color: @warning;
    border-bottom: 2px solid #a60;
}

#battery.critical.discharging {
	color: @light;
	background-color: @critical;
    border-bottom: 2px solid #922
}

#custom-arch {
    color: @light;
	background-color: @arch;
	margin-left: 10px;
    padding-left: 6px;
    padding-right: 4px;
    border-bottom: 2px solid #068;
}

#network {
	transition: background-color 0.5s, color 0.5s, border 0.5s;
}

#network.disconnected {
    background-color: @warning;
    color: @light;
    border-bottom: 2px solid #a60;
}

#wireplumber {
	transition: background-color 0.5s, color 0.5s, border 0.5s;
}

#wireplumber.muted {
	background-color: @critical;
	color: @light;
    border-bottom: 2px solid #922
}

#idle_inhibitor {
	transition: background-color 0.5s, color 0.5s, border 0.5s;
}

#idle_inhibitor.activated {
	color: @modbg;
	background-color: @modtxt;
    border-bottom: 2px solid #888
}
